.timer-container {
    display: flex;
    flex-direction: column;
}

.back-link {
    margin-bottom: 16px;
}

.date-choose {
    display: flex;
    width: 355px;
    gap: 8px;
    margin: 0 auto;
}


.date-choose input {
    flex: 1;
    padding: 8px 16px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.04em;
    border-radius: 4px;
    color: #2e2f42;
    border: 1px solid #808080;
    user-select: none;
}

.date-choose input:hover,
.date-choose input:focus {
    border-color: #000000;
}

.flatpickr-calendar.hasTime.animate.arrowTop.arrowLeft.open {
    background-color: #F5F5F5;
}

.date-choose input svg {
    display: none;
}

.date-choose button {
    width: 75px;
    padding: 8px 16px;
    font-family: 'Montserrat', sans-serif;
    border-radius: 8px;
    background: #4E75FF;
    border: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.04em;
    color: #fff;
    transition: background-color 0.2s ease, color 0.2s ease;
}

.date-choose button:hover,
.date-choose button:focus {
    background-color: #6C8CFF;
}

.date-choose button:disabled {
    background-color: #CFCFCF;
    color: #989898;
    cursor: not-allowed;
}

.timer {
    display: flex;
    justify-content: center;
    gap: 24px;
    margin-top: 32px;
}

.field {
    display: flex;
    flex-direction: column;
}

.field .value {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 40px;
    line-height: 120%;
    letter-spacing: 0.04em;
    color: #2e2f42;
}

.field .label {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #2e2f42;
}

#datetime-picker.active {
    border-color: #4E75FF;
}

#datetime-picker.running {
    border-color: #808080;
}