* {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.form-container {
    width: 360px;
    margin: 0 auto;
}

.form input{
    padding: 8px 16px;
    border: 1px solid #808080;
    border-radius: 4px;
}

.form label {
    display: flex;
    flex-direction: column;
    align-items: start ;
    gap: 8px;
}

.delay-input {
    width: 100%;
    padding: 0;
    margin: 0;
}


fieldset {
    display: flex;
    flex-direction: row;
    gap: 48px;
    width: 100%;
    justify-content: center;
    padding: 0 0 8px 0;
    margin: 16px 0 0;
    height: 78px;
    border: 1px solid #808080;
    border-radius: 4px;
}

legend {
    /* display: flex; */
    text-align: start;
    padding: 0px 4px;
    margin-left: 28px;
}

fieldset label div{
    display: flex;
    flex-direction: row;
    
}

fieldset label  {
    justify-content: end;
}

.form button {
    width: 100%;
    padding: 8px 0;
    background-color: #4E75FF;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.04em;
    cursor: pointer;
    margin-top: 24px;
}

.form button:hover {
    background-color: #6C8CFF;
}